@import url('https://fonts.googleapis.com/css?family=Nobile:wght@500,600;700;900family=Roboto:wght@400;500;600;700;900&display=swap');

html,
body {
  background-color: #000000;
  font-family: "Roboto", sans-serif;
  scroll-snap-type: y mandatory;
}

header,
section {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.scroll-snap {
  scroll-snap-align: center;
}

/*---------------------------Colors & Generic Text---------------------------*/

.gradient-colour {
  background-color: #c27c76;
  background-image: linear-gradient(90deg, #f5d6e1, #b96c63);
  background-size: 100%;
  background-repeat: repeat;
  text-shadow: 0px 4px 4px rgba(229, 229, 229, 0.2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.sub-heading-colour {
  background-color: #c27c76;
  background-image: linear-gradient(90deg, #b96c63, #ff8d83);
  background-size: 100%;
  background-repeat: repeat;
  text-shadow: 0px 4px 4px rgba(231, 193, 235, 0.2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  opacity: 1;
}

.sub-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 82px;
  display: flex;
  align-items: center;
  letter-spacing: 0.15em;
}

.background-colour {
  background: linear-gradient(180deg, #989898 0%, #ead7bb 9.9%, #e3c5c5 90.1%);
}

.background-overlay {
  background: linear-gradient(
    180deg,
    rgba(152, 152, 152, 0.9),
    rgba(234, 215, 187, 0.8),
    rgba(227, 197, 197, 0.8)
  );
  width: 100vw;
  height: 100vh;
}

/*---------------------------Navbar---------------------------*/

.logo {
  background: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 65px;
  height: 65px;
  left: 8px;
  top: 16px;
  z-index: 10;
}

.navbar {
  height: 73px;
  z-index: 2;
}

.navbar-nav li a {
  font-size: 25px;
  letter-spacing: 0.15em;
  padding: 0;
  color: #f5d6e1;
}

.navbar-nav li {
  border-right: 2px solid #c27c76;
}

.navbar-nav li:last-of-type {
  border-right: none;
}

.navbar-toggler-icon {
  position: relative;
  padding-top: 8px;
  background-image: url("../images/burger-icon.png");
  font-size: 1.5rem;
  display: block;
}

.navbar-collapse.collapsing,
.navbar-collapse.show {
  width: 95vw;
  margin: 2vh 2.5vw 0vh 2.5vw;
  padding: 10px 30px 10px 30px;
  z-index: 1;
  background: linear-gradient(180deg, #c27c76 0%, #d6a4b6 100%);
  border: 2px solid #f5d6e1;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: left;
}

.navbar-collapse.collapsing ul li,
.navbar-collapse.show ul li {
  border-right: none;
  border-bottom: 2px dashed #fafafa;
}

.navbar-collapse.collapsing ul li:last-of-type,
.navbar-collapse.show ul li:last-of-type {
  border-bottom: none;
}

.navbar-collapse.collapsing ul li a,
.navbar-collapse.show ul li a {
  color: #ffffff;
}

#nav-items li a:hover,
#nav-items li a:focus {
  color: #c27c76;
  text-decoration: underline;
}

#nav-items li a:active {
  color: #c27c76;
  transform: translateY(1px);
}

/*---------------------------Landing Page---------------------------*/

.landing-page {
  background: url("../images/background-image-landing.jpg");
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  margin-bottom: 0px;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  z-index: 1;
}

.landing-main-text {
  font-weight: 900;
  font-size: 5vw;
  line-height: 82px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15em;
  padding-top: 100px;
}

.landing-sub-text {
  font-weight: 900;
  font-size: 2vw;
  line-height: 47px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15em;
}

/*---------------------------About Me---------------------------*/

.about-me-text {
  color: #888888;
  font-family: Nobile;
  font-style: normal;
  font-weight: 500;
  font-size: 3.5vmin;
  line-height: 120%;
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
}

.text-wrapper {
  overflow: hidden;
  height: 100vh;
}

.about-title {
  padding-top: 100px;
}

.about-row {
  height: 100vh;
  padding-left: 50px;
}

.image-wrapper {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.image-wrapper img {
  position: absolute;
  height: 90vh;
  width: auto;
  left: 150px;
  bottom: 0;
}

/*---------------------------My Work---------------------------*/

.my-work {
  background-image: url("../images/background-image-mywork.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  margin-bottom: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.work-title {
  padding-top: 100px;
}

.generic-title-row {
  padding-left: 50px;
}

.card {
  background: rgba(245, 214, 225, 0.9);
  border: 2px solid #c27c76;
  box-sizing: border-box;
  border-radius: 10px;
  width: 300px;
  height: 400px;
  text-align: center;
  justify-content: center;
}

.card-title {
  font-weight: bold;
  font-size: 28px;
  line-height: 175.19%;
  align-items: center;
  letter-spacing: 0.1em;
  color: #000000;
  padding-top: 50px;
}

.card-sub {
  font-weight: 500;
  font-size: 20px;
  line-height: 175.19%;
  align-items: center;
  letter-spacing: 0.1em;
  color: #000000;
  padding-top: 15px;
}

.card-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 175.19%;
  align-items: center;
  letter-spacing: 0.1em;
  color: #000000;
  padding-top: 15px;
}

.link-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 175.19%;
  align-items: center;
  letter-spacing: 0.1em;
  color: #c27c76;
}

.box-text {
  text-align: center;
}

.carousel-icon {
  background-image: url("../images/arrow.png");
  height: 40px;
  width: 40px;
  left: 0;
  position: absolute;
}

.carousel-icon-2 {
  background-image: url("../images/arrow.png");
  height: 40px;
  width: 40px;
  right: 0;
  position: absolute;
  transform: rotate(180deg);
}

.carousel-control-prev,
.carousel-control-next {
  width: 60px;
}

.carousel-control-prev {
  padding-left: 20px;
}

.carousel-control-next {
  padding-right: 20px;
}

.stretch {
  display: block;
  padding-top: 10vh;
}

/*---------------------------Skills---------------------------*/

.skills-bg {
  background-image: url("../images/background-image-skills.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.skills-row {
  height: 100vh;
}

.skills-heading {
    padding-left: 50px;
    height: 20vh;
}

.progress-title{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin: 0 0 30px;
    letter-spacing: 0.15em;
}
.progress{
    height: 17px;
    background: rgba(0,0,0,0.1);
    border-radius: 15px;
    margin-bottom: 30px;
    overflow: visible;
    position: relative;
}

.progress-bar {
    overflow: visible;
}

.progress .progress-bar{
    border-radius: 15px;
    box-shadow: none;
    position: relative;
    animation: animate-positive 2s;
}
.progress .progress-icon,
.progress .progress-value{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 40px;
    background: #fff;
    border: 7px solid #000000;
    font-size:15px;
    font-weight: 600;
    color: #000000;
    position: absolute;
    top: -17px;
    right: -5px;
}
.progress .progress-icon{
    right: auto;
    left: -5px;
}
.progress.purple .progress-icon,
.progress.purple .progress-value{
    border: 7px solid #770CFF;
    color: #770CFF;
}
.progress.gold .progress-icon,
.progress.gold .progress-value{
    border: 7px solid #ECCB76;
    color: #ECCB76;
}
.progress.green .progress-icon,
.progress.green .progress-value{
    border: 7px solid #08a061;
    color: #08a061;
}

.bars {
    padding: 0px 200px 0px 200px;
    height: 80vh;
}

@-webkit-keyframes animate-positive{
    0%{ width: 0; }
}
@keyframes animate-positive{
    0%{ width: 0; }
}

/*---------------------------Contact Me---------------------------*/

.contact-bg {
  background-image: url("../images/background-image-contact.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  margin-bottom: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.form-style {
  margin-bottom: 15px;
  background: rgba(250, 250, 250, 0.9);
  border: 5px solid #c27c76;
  border-radius: 10px;
  width: 775px;
  height: 57px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: #7b7b7b;
}

.contact {
  padding-left: 15px;
}

.contact-row {
  height: 100vh;
  padding-left: 50px;
  padding-right: 50px;
}

.submit-style {
  background: #f5d6e1;
  border: 5px solid #c27c76;
  border-radius: 10px;
  width: 115px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #b96c63;
}

.submit-modal {
  background: rgba(245, 214, 225, 0.9);
  border: 2px solid #c27c76;
  box-sizing: border-box;
  border-radius: 10px;
}

.contact-img {
  height: 300px;
  width: 400px;
  border: 5px solid #c27c76;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  margin-top: 25vh;
  margin-left: 5vw;
}

/*---------------------------Media Queries---------------------------*/

@media (max-width: 1200px) {
  .landing-main-text {
    font-size: 6.5vw;
    line-height: 82px;
    padding: 140px 0px 15px 0px;
  }

  .landing-sub-text {
    font-size: 2.5vw;
    line-height: 47px;
  }

  .about-title {
    position: relative;
    left: 70px;
    padding-top: 0px;
    font-size: 40px;
  }

  .about-me-text {
    font-size: 3.5vmin;
    padding-top: 15px;
  }

  .image-wrapper img {
    left: 0px;
    bottom: 0;
  }

  .card {
    width: 250px;
    height: 350px;
  }

  .stretch {
    padding-top: 20vh;
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .card-title {
    padding-top: 10px;
  }

  .card-body {
    padding: 1rem;
  }

  .carousel-control-prev {
    padding-left: 0px;
  }

  .carousel-control-next {
    padding-right: 0px;
  }

  .contact-img {
    margin-top: 20vh;
    margin-left: 3vw;
    height: 200px;
    width: 300px;
  }
}

@media (max-width: 992px) {
  .landing-page {
    background-size: contain;
  }

  .about-row {
    padding-left: 25px;
  }

  .generic-title-row {
    padding-left: 25px;
  }

  .about-title {
    position: relative;
    left: 70px;
    padding-top: 0px;
    font-size: 35px;
  }

  .about-me-text {
    font-size: 3vmin;
    padding-top: 10px;
  }

  #nav-items li a:hover,
  #nav-items li a:focus {
    color: #ffffff;
    text-decoration: underline;
  }

  .card-title,
  .card-sub {
    padding-top: 2px;
    margin-bottom: 2px;
  }

  .carousel-control-prev {
    padding-left: 0px;
  }

  .carousel-control-next {
    padding-right: 0px;
  }

  .card {
    width: 200px;
    height: 300px;
  }

  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    transition: none;
  }

  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .landing-main-text {
    font-size: 10vw;
    line-height: 82px;
    padding: 70px 0px 0px 0px;
  }

  .landing-sub-text {
    font-size: 5vw;
    line-height: 47px;
    padding-top: 20px;
  }

  .about-row {
    padding-left: 15px;
  }

  .generic-title-row {
    padding-left: 15px;
  }

  .about-title {
    font-size: 25px;
    position: relative;
    left: 70px;
  }

  .about-me-text {
    font-size: 4vmin;
    padding-top: 10px;
  }

  .image-wrapper {
    left: -70px;
    right: 0px;
    bottom: 0;
  }

  .carousel-inner
    .active.col-md-6.carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -50%;
    z-index: -1;
    display: block;
    visibility: visible;
  }
}

@media (min-width: 768px) {
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item {
    transition: none;
  }
  .carousel-inner .carousel-item-next {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .carousel-inner
    .active.col-sm-6.carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -50%;
    z-index: -1;
    display: block;
    visibility: visible;
  }
}

@media (min-width: 576px) {
  .carousel-item {
    margin-right: 0;
  }
  .carousel-inner .active + .carousel-item {
    display: block;
  }
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item {
    transition: none;
  }
  .carousel-inner .carousel-item-next {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

@media (max-width 576px) {
  .card {
    width: 200px;
    height: 300px;
  }
}

@media (max-width: 376px) {
  .landing-main-text {
    font-size: 10vw;
    line-height: 82px;
    padding-top: 60px;
    margin-bottom: 0px;
  }

  .landing-sub-text {
    font-size: 5vw;
    line-height: 47px;
    padding-top: 0px;
  }

  .about-title {
    font-size: 25px;
    position: relative;
    left: 40px;
  }

  .about-me-text {
    font-size: 4vmin;
    padding-top: 10px;
  }

  .image-wrapper {
    left: -70px;
    right: 0px;
    bottom: 0;
  }
}
